nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;         
  justify-content: flex-end; 
  padding: 15px 30px;
  border-radius: 0 0 12px 12px; 
      align-items: center;
}
nav ul li {
  margin-left: 25px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav ul li:hover {
  color: #f9b900;
  transform: scale(1.1);
}
nav ul li::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #f9b900;
  transition: width 0.3s;
  margin-top: 4px;
}

nav ul li:hover::after {
  width: 100%;
}
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
nav ul li {
  position: relative;
  margin-left: 50px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -12px;
  background: #f9b900;
  color: #0f5fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.logout-btn {
  background-color: #fd2d00;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s;
}
.logout-btn:hover {
  background-color: #c21f00;
}
.logo {
  max-width: 200px;
}
.header {
 background: linear-gradient(135deg, #0f172a, #1e293b);
}
.container {
   display: flex;
 justify-content: space-between;
  max-width: 1200px;
}
.m-auto {
  margin: auto;
}